[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]

[for_seal]
1.3.6.1.5.5.7.1.3=ASN1:SEQUENCE:qcStatementSeal

[qcStatementSeal]
etsiQcsCompliance=SEQUENCE:etsiQcsCompliance
qcs-QcType=SEQUENCE:qcs-QcType-Seal

[etsiQcsCompliance]
statementId=OID:0.4.0.1862.1.1

[qcs-QcType-Seal]
statementId=OID:0.4.0.1862.1.6
statementInfo=SEQUENCE:qcs-QcType-Info-Seal

[qcs-QcType-Info-Seal]
qct-eseal=OID:0.4.0.1862.1.6.2

[for_sign]
1.3.6.1.5.5.7.1.3=ASN1:SEQUENCE:qcStatementSign

[qcStatementSign]
etsiQcsCompliance=SEQUENCE:etsiQcsCompliance
qcs-QcType=SEQUENCE:qcs-QcType-Sign

[etsiQcsCompliance]
statementId=OID:0.4.0.1862.1.1

[qcs-QcType-Sign]
statementId=OID:0.4.0.1862.1.6
statementInfo=SEQUENCE:qcs-QcType-Info-Sign

[qcs-QcType-Info-Sign]
qct-esign=OID:0.4.0.1862.1.6.1